/* src/Dashboard.css */

.dashboard-container {
    background-color: #444; 
    padding: 40px; 
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    width: 800px; 
    margin: auto;
    margin-top: 50px;
    color: #fff;
    position: relative; 
}

.dashboard-container .content {
    margin-bottom: 20px;
}

.dashboard-container h1 {
    color: #2EC1AC;
    margin-bottom: 10px;
    font-size: 24px; 
}

.dashboard-container p {
    font-size: 18px;
    margin-bottom: 20px;
}

.dashboard-container label {
    display: block;
    text-align: left; 
    width: 80%; 
    margin: 0 auto 5px;
    color: #ccc;
    font-size: 16px;
}

input[type="text"],
textarea,
select {
    display: block;
    width: 80%; 
    padding: 10px;
    margin: 10px auto; 
    border-radius: 15px;
    border: none;
    background: #fff;
    color: #333;
    font-size: 16px;
}

textarea {
    height: 100px;
    resize: none; 
}

select {
    height: 40px;
}

button {
    padding: 10px 20px;
    background-color: #2EC1AC;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 16px;
    display: block;
    margin: 20px auto;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
    background-color: #45a049;
    transform: scale(1.05); 
}

button.logout-btn {
    background-color: #f44336; 
    position: absolute;
    top: 20px;
    right: 20px;
}

button.cancel-btn {
    background-color: #555555; 
}

button.cancel-btn:hover {
    background-color: #777777;
}

.error {
    color: red;
    margin-bottom: 10px;
}

.word-count {
    color: #ccc;
    font-size: 14px;
    margin-top: -10px; 
}

.queued-reports {
    margin-top: 40px;
    text-align: left;
}

.queued-reports h2 {
    color: #2EC1AC;
    margin-bottom: 20px;
}

.queued-reports ul {
    list-style-type: none;
    padding: 0;
}

.queued-reports li {
    background-color: #555;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 15px;
    position: relative;
}

.queued-reports li a {
    color: #2EC1AC;
    text-decoration: none;
}

.queued-reports li a:hover {
    text-decoration: underline;
}

.queued-reports button {
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: #2EC1AC;
}

.queued-reports button:hover {
    background-color: #45a049;
}

.current-review {
    background-color: #555;
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px;
}

.current-review h2 {
    color: #2EC1AC;
    margin-bottom: 15px;
}

.current-review p {
    font-size: 16px;
    margin-bottom: 10px;
}

.current-review a {
    color: #2EC1AC;
    text-decoration: none;
}

.current-review a:hover {
    text-decoration: underline;
}
